:root {
  --color-font: #c00;
}

.container.error {
  color: #c00;

  & h1 {
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }

  & h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
}
